<!-- Need to add JSON variable "meetings" to model -->

<html>
<center>

    {% for section in sections%}
        {% if section.instructor.name == "-" %}
            <h1> To be announced </h1>            
        {% else %}
            <h1> {{section.instructor.name}} </h1>
        {% endif %}
        Course Number: {{section.course_number}} | {{section.component}} ({{section.units}} units) | 
        {{section.enrollment_total}}/{{section.class_capacity}} ({{section.enrollment_available}} seats available)
    {%endfor%}

</center>

</html>