<!-- Need to reformat start and end times -->

<html>
    {% for section in sections %}
        {% if section.instructor.name == "-" %}
            <h2> To be announced </h2>            
        {% else %}
            <h3> {{section.instructor.name}} </h3>
        {% endif %}
        Course Number: {{section.course_number}} | {{section.course_section}} | {{section.component}} ({{section.units}} units) | 
        {{section.enrollment_total}}/{{section.class_capacity}} ({{section.enrollment_available}} seats available)
        <br/>
        {% for meeting in meetings %} 
            {% if meeting.section == section %} 
                {{meeting.days}} | {{meeting.start_time}} | {{meeting.end_time}} | {{meeting.facility_description}}
                <br/>
            {% endif %} 
        {% endfor %}
    {% endfor %}
</html>